.change-element-box {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 5px;
  box-shadow: 1px 1px 1px 1px #F0F0F0;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.change-element-box:hover {
  box-shadow: 1px 1px 1px 1px #e6e6e6;
  cursor: pointer;
  .change-element-box {
    box-shadow: 1px 1px 1px 1px rgba(58, 80, 107, 0.4);
  }

  .change-element-index {
    background-color: rgba(58, 80, 107, 0.4);
  }
}

.change-element-index {
  display: inline-block;
  text-align: center;
  width: 40px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgba(58, 80, 107, 0.3);
  color: rgba(58, 80, 107, 1);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-top: 2px;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.change-element-vectors {
  display: inline-block;
  background-color: rgba(58, 80, 107, 0.2);
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-top: 2px;
}

.element {
  display: inline-block;
}

.change-element-vector {
  display: inline-block;

}
